import React from 'react';

/* eslint-disable react/prefer-stateless-function */
class {{ properCase name }} extends React.Component {
    render() {
        return (
            <div>
                Content
            </div>
        );
    }
}

export default {{ properCase name }} ;
