{{#if addHook}}
import React, { useState, useEffect } from 'react';
{{else}}
import React from 'react';
{{/if}}

/* eslint-disable react/prefer-stateless-function */
function {{ properCase name }}() {

{{#if addHook}}
    const [count, setCount] = useState(0);
    // Similar to componentDidMount and componentDidUpdate:
    useEffect(() => {
    // Update the document title using the browser API
    document.title = `You clicked ${count} times`;
    });
{{/if}}

    return (
{{#if addHook}}
<>
    <p>You clicked {count} times</p>
    <button onClick={() => setCount(count + 1)}>
        Click me
    </button>
</>
{{else}}
'Content'
{{/if}}
    );

}

export default {{ properCase name }} ;
